extend layout
block content
	pre
		p
			| MY article
block sidebar
	.widget
		h1 Articles	

		p			
			| <a href="smile" >The Zen of Smiling Buddha</a>
			| The meaning of Life from Nature.
		p
			| <a href="/">The Will to Win</a>
			| An awesome Poem for your inspiration.