extend layout
block content
	pre
		p
			| Artcle on Buddha
block sidebar
	.widget
		h1 Articles	
		p			
			| <a href="/">The Will to Win</a>
			| An awesome Poem for your inspiration.
		p
			| <a href="ninja">The Zen of a Hacker-Ninja</a>
			| The salvation through Intelluctual Curiosity.